.profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 35px 5px;
    margin: 20px 0px;
    border-radius: 20px;
    background-color: rgb(250, 251, 252);
    box-shadow: 0 0 2px grey;
}

.profile-content__FirstBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content__FirstBox-span{
    font-weight: 600;
    color: rgb(125, 125, 125);
}

.profile-content__FirstBox-reds{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 5px 20px;
}

.profile-content__FirstBox-reds a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    background-color: rgb(240, 239, 239);
    box-shadow: 0 0 2px grey;
}

.profile-content__SecondBox{
    display: flex;
    flex-direction: column;
}

.profile-content__SecondBox-data{
    display: flex;
    margin: 20px;
}

.profile-content__SecondBox-dataIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 4, 4);
}

.profile-content__SecondBox-dataSpan{
    font-weight: 600;
    color: rgb(125, 125, 125);
}

.btnDownloadcv{
    text-decoration: none;
    font-weight: 600;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background-color: rgb(255, 91, 91);
    cursor: pointer;
    transition: all 500ms;
}

.btnDownloadcv:hover{
    background-color: rgb(255, 0, 0);
}