


.box-about-workAreasF, .box-about-workAreasC{
    padding: 20px;
}

.box-about-workAreasF{
    background-color: rgb(230, 243, 252);
}

.box-about-workAreasC{
    background-color: rgb(252, 230, 230);
}


.box-about-workAreas__icon{
    display: flex;
    align-content: center;
    text-align: center;
    gap: 10px;
    color: rgb(125, 125, 125);
}

